body{
  background:url(doggy.jpg) no-repeat #33CCFF center top;
  color:yellow;
}
p#sn, p#so, p#si{
  font-family: Verdana, sans-serif;
}
p#sn{
  font-style:normal;
}
p#so{
  font-style:oblique;
  font-variant:small-caps;
}
p#si{
  font-style:italic;
  font-weight:bold;
}

